@charset "UTF-8";

/* 変数
------------------------------- */
$textColor: #333 ;
$baseColor: #fff;
$baseColor2: #f2f2f2;
$subColor: rgb(210, 50, 50);
$media-sp: 768px ;


/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}

body {
  font-family: 'Helvetica Neue','Arial','Hiragino Sans','Hiragino Kaku Gothic ProN','Meiryo',sans-serif;
  background: $baseColor;
  color: $textColor;
  font-size: 0.875rem;
  line-height: 1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $baseColor;
  display: block;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.flex-item {
  display: flex;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

/* コンテンツ共通 */
h1 {
  position: relative;
}

h2 {
  color: $baseColor;
  font-size: 4rem;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

h3 {
  display:inline-block;
  font-size: 2.5rem;
  padding-bottom: 12px;
  margin-bottom: 60px;
  border-bottom: 6px $subColor solid;
}

.logo {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
}

/* ヘッダー */

header {
  width: 100%;
  height: 100vh;
  background: url("../img/mainvisual.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
  margin-bottom: 10px;

  .logo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      height: 100px;
    }
  }
}

nav {
  position:relative;

  .flex-item {
    justify-content: flex-end;
  }

  li {
    padding-top: 25px;
    padding-right: 35px;
  }

  a {
    font-weight: bold ;
    text-shadow: 1px 1px 4px $textColor;
    transition: color 0.2s;
    // transition-property: color;

    &:hover {
      color: $subColor;
    }
  }
}

/* メイン */
.whitebox {
  background: $baseColor;
  padding: 60px 0 100px;
}

#MENU {
  background: url("../img/menu.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;

  .MENU-left {
    text-align: center;
    width: 50%;
    padding: 0 50px;
    border-right: 1px $textColor solid;
  }

  .MENU-right {
    text-align: center;
    width: 50%;
    padding: 0 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  dl {
    text-align: left;
    flex-wrap: wrap;
  }

  dt {
    width: 88%;
    border-bottom: 1px $textColor dotted;
    padding-bottom: 3px;
    margin-bottom: 30px;
  }

  dd {
    width: 12%;
    text-align: right;
    // padding-left: 20px;
    padding-bottom: 0px;
    position:relative;
    bottom: -5px;
  }
}

#ABOUT {
  background: url("../img/about.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  text-align: center;

  .flex-item {
    flex-wrap: wrap;
    justify-content: space-between;

    p {
      line-height: 2;
      text-align: left;
      width: 50%;
      padding-bottom: 40px;

      &:nth-child(odd) {
        padding-right: 15px;
      }

      &:nth-child(even) {
        padding-left: 15px;
      }
    }
  }
}

.readmore {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 150px;

    a {
      padding: 20px;
      color: $textColor;
    }

  .left {
    &::before,&::after { //左縦
      content: '';
    	position: absolute;
    	top: 0; left: 0;
    	background-color: $subColor;
    	transition: .3s;
    }
    &::before { //左縦
    	width: 2px;
    	height: 50%;
    }
    &:hover::before {
    	height: 100%;
    }
    &::after { //左横
    	width: 20%;
    	height: 2px;
    }
    &:hover::after {
      width: 100%;
    }
  }

  .right {
    &::before,&::after { //右縦
      content: '';
    	position: absolute;
    	bottom: 0; right: 0;
    	background-color: $subColor;
    	transition: .3s;
    }
    &::before { //右縦
    	width: 2px;
    	height: 50%;
    }
    &:hover::before {
    	height: 100%;
    }
    &::after { //右横
    	width: 20%;
    	height: 2px;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

#LOCATION {
  background: url("../img/location.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  text-align: center;

  iframe {
  filter: grayscale(100%);
  margin-bottom: 30px;
  width:100%; height:400px;
  }

  p {
    padding-bottom: 10px;
    line-height: 1.7;
    text-align: left;
  }
}

/* フッター */
footer {
  margin: 70px auto 15px;
  text-align: center;
  font-size: 0.6rem;
}


/* モバイル
------------------------------- */
@media screen and (max-width:$media-sp){

  /* コンテンツ共通 */

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
    padding-bottom: 5px;
    margin-bottom: 30px;
  }

  .logo {
    height: 100px;
  }

  /* ヘッダー */
  header {
    .logo {
      padding: 16px;
    }
  }

  /* メイン */
  .whitebox {
    padding: 30px 0;
  }

  #MENU {
    background-attachment: scroll;
    background-position: top;
    background-size: contain;
    margin-bottom: 50px;

    .flex-item {
      flex-direction: column;
    }

    .MENU-left {
      width: 100%;
      padding: 0px;
      border-right: none;
    }

    .MENU-right {
      width: 100%;
      padding: 0;

    }

    dl.flex-item {
      flex-direction: row;
    }
  }

  #ABOUT {
    background-attachment: scroll;
    background-position: top;
    background-size: contain;
    margin-bottom: 50px;

    .flex-item {
      flex-direction: column;

      p {
        width: 100%;
        padding: 20px;

        &:nth-child(odd) {
          padding-right: 0px;
        }

        &:nth-child(even) {
          padding-left: 0px;
        }
      }
    }
  }

  #LOCATION {
    background-attachment: scroll;
    background-position: top;
    background-size: contain;
    margin-bottom: 50px;
  }

  /* フッター */
  footer {
    margin: 50px auto 15px;
    text-align: center;
    font-size: 0.6rem;
  }

}
