@charset "UTF-8";

/* 変数
------------------------------- */
$textColor: #333 ;
$subColor: #ddd ;
$baseColor: #fff ;
$media-sp: 600px ;


/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}

body {
  font-family: "Hiragino Kaku Gothic ProN" sans-serif;
  font-size: 0.9rem;
  color: $textColor;
  background: $baseColor;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

div {
  display: block;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 80px 0 60px;
}

.container {
  margin: 0 auto;
}

.center {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto;
  text-align: center;
}

.item {
  text-align: left;
  margin-bottom: 120px;
}

/* ヘッダー */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 110px 0;

  .logo {
    line-height: 0;
    width: 180px;
    vertical-align: bottom;
    text-align: left;
    // margin-bottom: 15px;
  }

  ul {
    display: flex;
    // align-items: center;
    vertical-align: bottom;

    li {
      margin: 16px;

        &:last-child {
        margin-right: 0px;
        }

        a {
          color: $textColor;

        &:hover {
        opacity: 0.7;
        }
      }
    }

    img {
      width: 20px; height: 20px;
      margin: 0;
    }
  }
}

/* メイン画像 */
.main-img {
  width: calc(100vw - 1%);

  img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
}

/* ABOUT */
#ABOUT{

  .item p{
    padding: 15px 0 ;
  }

}

/* WORKS */
#WORKS {

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 0 auto;
  }

  .item {
    margin-bottom: 150px;
  }
}

/* NEWS */
#NEWS {
    dl {
      display: grid;
      grid-template-columns: 1fr 4fr;
      margin: 0 auto;
    }

    dl:first-child {
      border-top: 1px $subColor solid;
    }

    dt, dd {
      border-bottom: 1px $subColor solid;
      padding: 16px;
    }
}

/* CONTACT */
#CONTACT {
  dl {
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin: 0 auto;

    dt, dd {
      padding: 5px;
    }

  }

  input {
    border: 1px $subColor solid;
    width: 100%; height: 40px;
  }

  textarea {
    border: 1px $subColor solid;
    width: 100%; height: 160px;
  }

  .button {
    text-align: center;
    margin-top: 30px;

    input {
      background: $textColor;
      color: #fff;
      width: 200px; height: 55px;

      &:hover {
        background: #fff;
        color: $textColor;
        border: 1px $textColor solid;
      }
    }
  }
  .item {
    margin-bottom: 130px;
  }
}

/* フッター */
footer{
  background: $textColor;
  color: #fff;
  text-align: center;
  padding: 12px 0;
  font-size: 0.5rem;
}


/* モバイル
------------------------------- */
@media screen and (max-width:$media-sp){

  h2 {
    margin: 80px 0 30px;
  }

  .item {
    margin-bottom: 0;
  }

  .header{
    flex-direction: column;
    margin: 20px 0 0;

    .logo {
      text-align: center;
      // margin-bottom: 15px;
    }

    ul {
      li {
        font-size: 0.8rem;
        margin: 10px;
        }

    }
  }

  #WORKS {

    ul {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }

    .item {
      margin-bottom: 100px;
    }
  }

  #NEWS {
      dl {
        display: flex;
        flex-direction: column;
      }

      dl:first-child {
        border-top: 1px $subColor solid;
      }

      dd {
        padding-top: 0px;
      }

      dt {
        border-bottom: none;
        padding-bottom: 0px;
      }
  }

  #CONTACT {
    dl {
      display: flex;
      flex-direction: column;

      dt {
        padding: 10px 0 0;
      }

      dd {
        padding: 0;
      }

    }

    input {
      border: 1px $subColor solid;
      width: 100%; height: 40px;
    }

    textarea {
      border: 1px $subColor solid;
      width: 100%; height: 160px;
    }

    .item {
      margin-bottom: 70px;
    }
  }

}//@media
