@charset "UTF-8";

/* 変数
------------------------------- */
$textColor: #231815;
$baseColor: #fff;
$baseColor2: #eaf3fb;
$baseColor3: #005abe;
$baseColor4: #b2b2b3;
$baseColor5: #ffe673;
$media-lg: 1270px;
$media-md: 800px;
$media-sm: 450px;

/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}

body {
  background: $baseColor;
  color: $textColor;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Helvetica Neue','Arial','Hiragino Sans','Meiryo', sans-serif;
  // overflow-x: hidden !important;
}

a {
  text-decoration: none;
  color: $baseColor;
  display: block;
  opacity: 1;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.wrapper2 {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.sp {
  display: none;
}

h1 {
  font-weight: 700;
  letter-spacing: 0.5rem;
  font-size: 2.85rem;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-size: 1.9rem;
  margin: 20px 0;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

h4 {
  font-weight: 600;
  line-height: 1.6;
  font-size: 1.15rem;
  color: $baseColor3;
  margin-bottom: 5px;
}

nav {
  li {
    padding: 20px;

    a {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1rem;
      letter-spacing: 0.125rem;
    }
  }
}

/* ヘッダー
------------------------------- */
header {
  background: url("../img/blue_back.jpg") no-repeat top;
  background-size: cover;
  line-height: 1;

  .wrapper {
    height: 80px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    padding-left: 20px;

    img {
      max-width: 300px;
    }
  }

  ul.flex {
    padding: 0px;
  }

  li {
    a {
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background: $baseColor;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
      }

      &:hover::after {
        visibility: visible;
        bottom: -5px;
        opacity: 0.8;
      }
    }
  }
}

/* トップページのみ
------------------------------- */
#home {
  header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 5px 10px;
    box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, .1);
    border-radius: 10px;
  }

  h1 {
    font-weight: 600;
    letter-spacing: 0.3rem;
    font-size: 2.5rem;
  }
}

.top {
  padding: 30px 4%;
  background: url("../img/main.jpg") no-repeat center top;
  background-size: cover;
  margin-bottom: 120px;
}

.news {
  margin-top: 52%; //フィードまでの空き

  .news_icon {
    width: 80px;
    margin-right: 20px;
  }

  .fw-iframe {
    width: 100%;
    height: 250px;
  }
}



/* メインコンテンツ
------------------------------- */
main {
  padding-top: 150px;
  background: $baseColor2 url("../img/bg_town.svg") repeat-x top;
  background-size: 500px;
}

.light_icon {
  width: auto;
  height: 65px;
}

.copy {
  width: auto;
  height: 22px;
  margin-top: 14px;
}

.user_voice {
  margin-top: 100px;
  padding-bottom: 20px;
  text-align: left;
  border-bottom: 2px $textColor dotted;

  &:last-child {
    border-bottom: none;
    margin-bottom: 80px;
  }

  .user_icon {
    position: relative;
    margin-bottom: 40px;

    img {
      width: 180px;
      position: absolute;
      bottom: 0;
      right: 15px;
    }
  }

  .user_voice_top {
    justify-content: space-between;
    align-items: flex-start;
  }

  .list {
    margin-right: 30px;
    flex: 1;

    h4 {
      letter-spacing: 0.1rem;
      border-bottom: 2px $baseColor3 solid;
    }

    dl {
      flex-wrap: wrap;
      align-items: flex-start;
      margin-bottom: 30px;
    }

    dd {
      width: 60px;
      font-weight: 600;

      &::before {
        content: "";
        width:  12px;
        height:  12px;
        display:  inline-block;
        background-color: $baseColor3;
        border-radius: 50%;
        margin-right: 3px;
      }
    }

    dt {
      flex: 1;
      min-width: 84%;
    }
  }

  .photo {
    width: 350px;

    img {
      border-radius: 20px;
    }
  }
}

.service {
  padding-bottom: 50px;

  &:last-child {
    padding-bottom: 80px;
  }

  .icon {
    width: 90px;
    margin-top: 40px;
  }

  .bg_white {
    margin-top: 80px;
    padding-top: 10px;
  }

  p{
    text-align: left;
  }

  .lineup{
    margin-bottom: 50px;

    h4{
      font-size: 1.3rem;
      margin: 10px 0;
    }

    img {
      max-width: 130px;
    }

    ul{
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        background-color: $baseColor2;
        border: 5px $baseColor solid;
        padding: 30px;
        min-width: 33.3%;
        flex: 1;
        }
    }
  }

  .list {
    padding: 0 4%;

    span.circle {
      &::before{
        margin-left: 3px;
      }
    }

    span.small {
      font-size: 0.75rem;
    }

    dl {
      flex-wrap: wrap;
      align-items: flex-start;
      margin: 0 auto;
      max-width: 600px;
      line-height: 1.8;

    }

    dd {
      width: 25%;
      font-weight: 600;
      color: $baseColor3;
      border-bottom: 2px $textColor dotted;
      padding: 0 20px;
      letter-spacing: 0.1rem;
    }

    dt {
      width: 74.6%;
      border-bottom: 2px $textColor dotted;
      margin-bottom: 12px;
      padding: 0 20px;
    }
  }
}

.company {
  margin-top: 50px;

  dl {
    font-size: 0.9rem;
    margin: 0 auto;
    padding: 0 40px;
    align-items: flex-start;
    text-align: left;
    flex-wrap: wrap;
  }

  dd {
    width: 20%;
    padding: 8px 0;
    font-weight: 600;
  }

  dt {
    width: 80%;
    padding: 8px 0;
    &:last-child {
      padding-bottom: 0px;
    }
  }
}

.banner_map {
  padding: 50px 40px;

  ul {
    display: flex;
    flex-direction: column;
  }

  .banner {
    white-space: nowrap;

    img {
      width: auto;
      margin: 5px;
    }

  }

  .company_ph {

    img{
      width: auto;
      margin: 0 5px;
    }

  }

  .map {
    padding: 5px;
    width: 100%;
    height: 271px;
  }
}

.contact {
    padding-bottom: 80px;

    .flex {
      justify-content: space-between;
    }

    p{
      text-align: center;
    }

    .bg_white {
      margin-top: 50px;
    }

    .blue_title {
      max-width: 100%;
      text-align: center;
    }

    .faq{
      max-width: 1024px;
      margin: 0 auto;
      padding: 100px 20px 0;
      align-items: flex-start;


      p {
        font-size: 0.9rem;
        text-align: left;
      }

      .faq_left {
        width: 40%;
        min-width: 325px;
        padding-top: 10px;

        h4 {
          text-align: center;
        }

        li {
          padding-bottom: 16px;
          margin: 0 auto;

          &:last-child {
            padding-bottom: 0px;
          }

          &::after {
            content: "";
            padding: 8px 25%;
            border-right: 2px $baseColor3 dotted;
            position: relative;
            bottom: -8px;
            left: 0;
          }

          &:last-child::after {
            padding: 0;
            border: none;
          }
        }

        .icon {
          width: 100px;
          line-height: 1.15;
        }
      }

      .faq_right {
        // flex: 1;
        width: 55%;
        padding: 10px 0;
        margin-left: 20px;

        .flex {
          justify-content: flex-start;
        }

        .icon {
          width: 30px;
          margin: 15px;
          margin-left: 5px;
        }

        h4 {
          margin: 0;
        }
      }


      .yellow_box {
        background: $baseColor5;
        border-radius: 10px;
        padding: 5%;

        h4 {
          color: $textColor;
        }
      }

      .glay_box {
        background: #ececec;
        border-radius: 10px;
        padding: 5%;
      }
    }
}

form {
  font-size: 0.95rem;
  max-width: 700px;
  margin: 0 auto;

  input,textarea {
    border: 1px $baseColor4 solid;
    border-radius: 2px;
    width: 100%;
    padding: 2px 5px;
  }

  .radio {
    border-bottom: 1px $baseColor2 solid;
    padding-bottom: 10px;
    margin-bottom: 20px;

    input {
      width: auto;
    }
    label {
      padding: 14px;
    }
  }

  dd {
    width: 30%;
    padding: 15px 0;
    text-align: left;
    span {
      font-size: 0.75rem;
      color: #ec779a;
      margin-left: 5px;
    }
  }

  dt {
    width: 70%;
    padding: 12px 0;
  }

  textarea {
    height: 150px;
    resize:none;
  }

  .button {
    border: 0px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .1);
    background: $baseColor5;
    max-width: 300px;
    padding: 12px;
    margin-top: 30px;
    font-size: 1.15rem;
    letter-spacing: 0.1rem;
    opacity: 1;
    transition:  0.2s;

    &:hover {
      opacity: 0.7;
      transition:  0.2s;
      box-shadow: none;
    }
  }

  .flex{
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.blue_title{
  background: $baseColor3;
  color: $baseColor;
  border-radius: 25px;
  height: 50px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  position: relative;
  bottom: 35px;
}

.blue_box {
  background: $baseColor3;
  color: $baseColor;
  border-radius: 20px;
  padding: 14px 30px;
  text-align: left;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.white_box {
  background: $baseColor;
  border-radius: 20px;
  padding: 3%;
  margin-bottom: 30px;

  p {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  span.circle {
    font-weight: 600;

    &::before {
      content: "";
      width:  12px;
      height:  12px;
      display:  inline-block;
      background-color: $baseColor3;
      border-radius: 50%;
      margin-right: 3px;
    }
  }

  dl {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  dd {
    justify-content: space-between;
    white-space: nowrap;
    width: 45%;

    img {
      width: 45%;
      margin: 4px;
    }
  }

  dt {
    width: 55%;
  }
}

.white_box_padding{
  padding: 0 4%;

  .white_box {
    max-width: 1024px;
    margin: 50px auto;
    padding: 10px 3% 50px;
  }
}

.bg_white {
  text-align: center;
  background: $baseColor;
  padding: 80px 0;

  .copy {
    margin-bottom: 14px;
  }
}

.denpota_link {
  width: 655px;
  margin: 0 auto;
}

.aircom_link {
  max-width: 290px;
  margin: 30px auto 0;
}

/* フッター
------------------------------- */
footer {
  background: url("../img/blue_back.jpg") no-repeat top;
  background-size: cover;
  line-height: 1;
  color: $baseColor;

  .wrapper {
    padding: 10px 20px 0;
  }

  .flex {
    justify-content: space-between;
    align-items: flex-start;
  }

  .logo {
    width: 320px;
    max-width: 90%;
    margin-bottom: 5px;
  }

  .address {
    padding-top: 20px;
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.8;
  }

  .copyright {
    padding: 80px 0 20px;
    font-size: 0.5rem;
    letter-spacing: 0.05rem;
    text-align: center;
  }
}

/* レスポンシブ
------------------------------- */
@media screen and (max-width:$media-lg) {
  .news {
    margin-top: 600px; //フィードまでの空き
  }
}
@media screen and (max-width:$media-md) {
  html {
    font-size: 90%;
  }

  .sp_hidden {
    display: none;
  }

  .sp {
    display: block;
  }

  .wrapper2 {
    padding: 0 4%;
  }

  .flex {
    flex-direction: column;
  }

  nav {
    background: $baseColor;
    width: 100%;

    .flex {
      height: 45px;
      flex-direction: row;
      justify-content: space-around;
    }

    ul {
      height: 45px;
    }

    li {
      padding: 0;
      width: 100%;
      border-right: 1px $baseColor3 solid;
      line-height: 1.2;

      &:last-child {
        border-right: 0;
      }

      a {
        color: $baseColor3;
      }
    }
  }

  header {

    .wrapper{
      height: 110px;
      padding: 0;
    }

    .logo {
      display: flex;
      align-items: center;
      height: 65px;
      width: 100%;
      padding: 30px;
    }
  }

  #home {
    header {
      padding: 0px;
      box-shadow: none;
      border-radius: 0;
    }
  }

  .top {
    padding: 0;
    background: url("../img/main_sp.jpg") no-repeat;
    background-position: center 110px;
    background-size: 850px;
    margin-bottom: 50px;
  }

  .news {
    margin-top: 480px; //フィードまでの空き

    .news_icon {
      margin-right: 0;
      margin-bottom: 30px;
    }

    .fw-iframe {
      width: 90%;
    }
  }

  main {
    background-size: 500px;
  }

  .copy {
    max-width: 90%;
    height: 18px;
  }

  .user_voice {
    position: relative;
    padding-top: 60px;

    &:last-child {
      margin-bottom: 0;
    }

    .user_icon {
      margin-bottom: 20px;

      img {
        width: 150px;
        position: absolute;
        bottom: 80px;
        right: calc(50% - 80px);
      }
    }

    .user_voice_top {
      flex-direction: column-reverse;
    }

    .list {
      width: 100%;
      margin-right: 0;
      margin-top: 10px;

      dl {
        flex-direction: row;
      }
    }

    .photo {
      width: 100%;
      text-align: center;

      img {
        max-width: 350px;
      }
    }
  }

  .service{
    padding-bottom: 20px;

    .lineup{

      ul{
        max-width: 450px;
        margin: 0 auto;
      }
    }
    .list {

      dl {
        flex-wrap: nowrap;

      }

      dd {
        text-align: left;
        width: 100%;
        border-bottom: 0px;
        padding: 0 5px;
      }

      dt {
        width: 100%;
        padding: 0 5px 5px;
      }
    }
  }

  .company {
    // margin-top: 50px;

    dl {
      // font-size: 0.9rem;
      // margin: 0 auto;
      // padding: 0 40px;
      // align-items: flex-start;
      // text-align: left;
      // flex-wrap: wrap;
    }

    dd {
      width: 100%;
      padding: 0px;
    }

    dt {
      width: 100%;
      padding: 3px 0 15px;
    }
  }

  .banner_map {
    padding: 20px 0 0;

    ul {
      flex-direction: row;
      align-items: center;
      // height: 130px;
      padding: 0 10px;
    }

    .banner {
      width: 60%;
      padding-right: 10px;

      img{
        // height: auto;
        // height: 130px;
        width: 48%;
        // width: 100%;
        // object-fit: cover;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .company_ph {
      width: 38%;

      img{
        width: 100%;
        object-fit: cover;
      }
    }

    .map {
      padding: 0;
      padding-top: 20px;
      // width: 100%;
      // height: 271px;
    }
  }

  .contact {
    padding-bottom: 50px;

    .faq{
      max-width: 600px;

      .faq_left {
        width: 100%;
        min-width: 200px;
      }
      .faq_right {
        width: 100%;
        margin-left: 0px;
        margin-top: 80px;

        .flex {
          flex-direction: row;
        }
      }
    }
  }

  form {
    padding: 0 20px;

    .radio {
      label {
        padding: 0 10px 0 0;
      }
    }

    dl {
      max-width: 480px;
      margin: 0 auto;
    }

    dd,dt {
      padding: 0;
      width: 100%;
    }

    dt {
      padding: 5px 0 15px;
    }
  }

  .blue_box {
    height: 80px;
    padding: 10px 2%;
    text-align: center;
    border-radius: 10px;
  }

  .white_box {
    border-radius: 10px;
    margin-bottom: 20px;

    dl {
      justify-content: center;
    }

    dd {
      width: 100%;
      text-align: center;
      padding: 10px 0;

      img {
        max-width: 150px;
      }
    }

    dt {
      width: 100%;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .white_box_padding {
    padding: 0;

    .white_box {
      padding: 10px 20px 50px;
      border-radius: 0px;
    }
  }

  .bg_white {
    padding: 40px 0;
  }

  .denpota_link {
    width: 90%;
    max-width: 400px;
  }

  footer {
    .wrapper {
      padding: 0;
    }

    .flex {
      align-items: center;
    }

    .address {
      text-align: center;
    }

    .copyright {
      padding: 10px 0;
      text-align: center;
    }
  }
}

@media screen and (max-width:$media-sm) {
  header {
    .logo {
      justify-content: center;
      padding: 15px;
    }
  }

  #home {
    h1 {
      font-size: 8vw;
    }
  }

  h2 {
    font-size: 5.8vw;
    letter-spacing: 0.15rem;
  }
  h3 {
    font-weight: 600;
    font-size: 5.5vw;
  }

  .blue_box {
    h3 {
      font-size: 5vw;
    }
    p {
      font-size: 3.5vw;
    }
  }

  .white_box{
    padding: 4%;
  }

  .user_voice {
    .list {
      dt {
        min-width: 75%;
      }
    }
  }

  .contact {
    .faq {
      .faq_right {

        .icon {
          width: 25px;
          margin: 3%;
          margin-left: 0px;
        }

        h4 {
          font-size: 3.8vw;
        }
      }
    }
  }

}

/* フェードイン
------------------------------- */
.fadein {
  opacity : 0;
  transform : translate(0, 10px);
  transition : all 700ms;
}
.fadein.scrollin {
  opacity : 1;
  transform : translate(0, 0);
}
