@charset "UTF-8";

/* 変数
------------------------------- */
$textColor: #383E45 ;
$textColor2: #888 ;
$media-sp: 896px ;


/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}

body {
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", "sans-serif";
  color: $textColor;
  font-size: 0.875rem;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  // max-width: 100%;
}

/* コンテンツ共通 */
.center{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

.flex-item {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 1.5rem;;
  margin-bottom: 15px;
  text-align:center;
}

h2 {
  font-size: 1.2rem;;
}

.button{
  width: 130px;
  padding: 10px;
  margin: 30px auto;
  border: 1px $textColor solid;
  font-size: 0.75rem;
  color: $textColor;
  display: block;
  text-align: center;


  &:hover {
    opacity: 0.6;
  }

}

/* メイン画像 */
.main-img {
  max-width: 100%;
  height: 100vh;
  background-image: url(../img/mainvisual.jpg);
  background-size: cover;
  background-position: top center;
}

.logo{
  text-align: right;
  padding: 30px;
}

/* SPECIAL */
#SPECIAL {
    width: 100%;
    margin: 70px auto;
    background: #fff;
    text-align: center;


  .magazine{
      gap: 25px;
      margin-top: 40px;

      img {
        width: 100%;
      }

      a:hover {
        opacity: 0.6;
      }

      .magazine-img {
        position: relative;
        width: 100%;
      }

      .gray-box{
        background: rgba(0,0,0,0.5);
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        font-size: 0.85rem;
        font-weight: bold;

        padding: 10px;
        width: 290px; height: 100px;
      }

    }
}

#FASHION {
    width: 100vw;
    height: 520px;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;

    background: url(../img/fashion.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
}

.bottom {
  background: #f8f8f8;
  text-align: center;
  }

  .bottom-img {
    width: 48%;
    margin: 50px 0;

    img {
      width: 100%;
    }
  }

  .caption {
    width: 48%;
    text-align: left;

    p {
      margin: 25px auto;
    }
  }


#CATALOG {
    align-items: center;
}

#ANTIQUE {
    flex-direction: row-reverse;
    align-items: center;
}


/* フッター */
footer{
  font-size: 0.75rem;
  background: $textColor;
  color: #fff;

  .flex-item {
    padding-top: 100px;
    padding-bottom: 100px;

    .item:first-child {
      padding: 60px 0;
    }

    .item {
      width: 33%;
      line-height: 2;
      li:before {content:"-"; margin-right: 5px;}

      h3 {
        margin-bottom: 14px;
        font-size: 1rem;
      }

      li {
      }

    }
  }

  .footer-bottom {
    background: #fff;
    color: $textColor;
    text-align: center;
    padding: 30px 0;
    // height: 60px;
  }
}


/* モバイル
------------------------------- */
@media screen and (max-width:$media-sp){

  .flex-item {
      flex-direction: column;
  }

  .bottom-img {
    width: 100%;
    // margin: 50px 0;
  }

  .caption {
    width: 100%;
  }


  #ANTIQUE {
    flex-direction: column-reverse;

    .bottom-img {
      margin-bottom: 30px;
    }
  }

  footer{
    .flex-item {
      padding-top: 30px;
      padding-bottom: 30px;

      .item{
        width: 100%;
        padding-bottom: 30px;
      }

      .item:first-child {
        padding-top: 0;
        padding-bottom: 30px;
        text-align: center;
      }
    }
  }
}
