@charset "UTF-8";

/* 変数
------------------------------- */
$textColor: #fff;
$textColor2: #555;
$baseColor: #f495b8;
$baseColor2: #e2fcee;
$media-sp: 830px ;


/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}

body {
  background: $baseColor;
  color: $textColor;
  font-size: 1rem;
  line-height: 1;
}

a {
  text-decoration: none;
  color: $textColor;
  display: block;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 4%;
  text-align: center;
}

/* コンテンツ共通 */

/* ヘッダー */

header {
  background:$baseColor2;
  height: 100vh; width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 6px $baseColor solid;

  a {
    color: $baseColor;
    transition: 0.5s ;
    position: relative;

    &:hover {
      // transform: translateY(10px);
    }

    &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 5px;
    width: 89%;
    height: 2px;
    background:$baseColor;
    transition: transform .3s;
    transform: scale(0, 1);
    transform-origin: right top;
    }

    &:hover::after {
    transform: scale(1, 1);
    }

    &::before {
    content: '';
    position: absolute;
    top: -4px;
    left: 5px;
    width: 98%;
    height: 2px;
    background:$baseColor;
    transition: transform .3s;
    transform: scale(0, 1);
    transform-origin: left top;
    }

    &:hover::before {
    transform: scale(1, 1);
    }
  }
}

h1 {
  font-family:'Vast Shadow';
  font-weight: normal;
  font-size: 4.5rem;
  letter-spacing: -0.02em;
  position: relative;

  &::after { //矢印
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 10px);
    top: 100px;
    width:20px; height:20px;
    border-bottom: 3px $baseColor solid;
    border-right: 3px $baseColor solid;
    transform: rotate(45deg);
    transition: top 0.5s ;
  }

  &:hover::after {
    top: 115px;
  }
}

/* メイン */
#gallery {

  a {
    transition: 0.1s ;

    &:hover {
      opacity: 0.5;
    }
  }

  .grid-item {
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    gap: 80px 4%;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));

    img {
      border: 5px $textColor solid;
      border-radius: 6px;
    }

    p {
      padding: 10px;
    }
  }
}

/* fadeUp */

.fadeUp{
animation-name:fadeUpAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(20px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定*/
.fadeUpTrigger{
    opacity: 0;
}


/* フッター */
footer {
  background:$baseColor;
  color: $textColor;
  font-size: 0.6rem;
  padding: 20px;
}


/* モバイル
------------------------------- */
@media screen and (max-width:$media-sp){

  h1 {
    font-size: 3rem;
  }

  #gallery {
    .grid-item {
      grid-template-columns: 1fr;
    }
}
}
